@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

.results-scroll::-webkit-scrollbar {
  width: 3px;
}
.results-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.results-scroll::-webkit-scrollbar-thumb {
  background: #93c5fd;
  border-radius: 99px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 99px;
  outline: none;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer;
}